a {
    color: #27ae60;
    text-decoration: none; /* 移除所有下划线 */
}
a:hover {
    text-decoration: underline; /* 悬停时显示下划线 */
    text-decoration-color: red; /* 可自定义颜色 */
}
.toggle_left_div::before {
    content: "\267B"
}
.rgith_div {
    float: left;
    width: 85%;
}
.left_div {
    float: left;
    width:15%;
}
iframe{
    width: 100%;
    height: 1500px;
}
.hidden {
    display: none;
}
.folder {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    color: #2980b9;
}
.folder::before{
    content: "\1F30A"; /* 使用Unicode码表示圆点 */
    color: #FF6347; /* 设置圆点颜色 */
    font-weight: bold; /* 可选：使圆点加粗 */
    margin-right: 5px; /* 可选：调整圆点与文本之间的距离 */
}
ul {
    list-style-type: none; /* 移除默认的列表样式 */
    padding-left: 20px; /* 添加左侧间距 */
}
li {
    background: linear-gradient(to right, #84fab0, #8fd3f4);
    color: #ffffff;
    border-radius: 10px;
    margin: 2px;
}
li::before {
    content: "\1F343"; /* 使用Unicode码表示圆点 */
    color: #FF6347; /* 设置圆点颜色 */
    font-weight: bold; /* 可选：使圆点加粗 */
    margin-right: 5px; /* 可选：调整圆点与文本之间的距离 */
}
.common_top a::before {
    content: "\2605"; /* 实心五角星 ★ */
    color: red;
    margin-left: 1%;
}