body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.cl {
  clear: both;
}
.nav {
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.nav .logo {
  padding: 5px 0 5px 50px;
  float: left;
}
.nav .logo img {
  width: 200px;
  height: 90px;
}
.nav .ul1 {
  float: right;
  padding-right: 60px;
  padding-top: 25px;
}
.nav .ul1 .list1 {
  position: relative;
}
.nav .ul1 .list1 ul {
  display: none;
  position: absolute;
  top: 75px;
  width: 106px;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.nav .ul1 .list1 ul li {
  list-style: none;
  padding: 10px 5px;
}
.nav .ul1 .list {
  float: left;
  list-style: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
}
.nav .ul1 .list:hover {
  border-top: 2px solid blue;
}
.nav .ul1 .list a {
  color: white;
  text-decoration: none;
}
.nav .ul1 .list a span {
  display: block;
  font-size: 12px;
}
.nav .ul1 .list:last-child {
  float: left;
  list-style: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
}
.nav .ul1 .list:last-child:hover {
  border-top: none;
}
.nav .ul1 .list:last-child i {
  color: white;
  font-size: 30px;
}
.nav .ul1 .list:last-child span {
  color: white;
}
.banner img {
  width: 100%;
  position: relative;
}
.banner p {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left:-200px;
  color: whitesmoke;
  font-size: 30px;
  letter-spacing: 1px;
  opacity: 0;
}
.jieshao {
  width: 100%;
  background: #f2f2f2;
  padding-bottom: 30px;
}
.jieshao .jieshao-content {
  width: 1200px;
  margin: 0 auto;
}
.jieshao .jieshao-content ul li {
  float: left;
  list-style: none;
  width: 24%;
}
.jieshao .jieshao-content ul li p:first-child {
  padding: 15px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin: 40px auto;
}
.jieshao .jieshao-content ul li .p1 {
  background: #b2e34b;
}
.jieshao .jieshao-content ul li .p2 {
  background: #ffae00;
}
.jieshao .jieshao-content ul li .p3 {
  background: #ff7a4d;
}
.jieshao .jieshao-content ul li .p4 {
  background: #00bfff;
}
.jieshao .jieshao-content ul li p:last-child {
  padding: 0 20px;
}
.jieshao .jieshao-content ul li p:last-child span {
  display: block;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}
.jieshao .jieshao-content ul .list {
  width: 2px;
  height: 200px;
  background: white;
  margin-top: 170px;
}
.guanyu {
  padding-bottom: 50px;
}
.guanyu .guanyu-content {
  width: 1200px;
  margin: 0 auto;
}
.guanyu .guanyu-content h2 {
  text-align: center;
  padding-top: 100px;
}
.guanyu .guanyu-content h4 {
  text-align: center;
  padding-top: 20px;
}
.guanyu .guanyu-content ul {
  margin-top: 100px;
}
.guanyu .guanyu-content ul li {
  float: left;
  list-style: none;
  width: 30%;
  margin-left: 3%;
  position: relative;
  overflow: hidden;
}
.guanyu .guanyu-content ul li .img1 {
  width: 100%;
}
.guanyu .guanyu-content ul li p {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  display: none;
}
.guanyu .guanyu-content ul li p span {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 135px;
  margin-top: 100px;
}
.guanyu .guanyu-content ul li p span img {
  padding: 30px 0 0 30px;
}
.youshi {
  background: #e3e3e3;
}
.youshi .youshi-content {
  width: 1200px;
  margin: 0 auto;
}
.youshi .youshi-content h2 {
  text-align: center;
  padding-top: 100px;
}
.youshi .youshi-content h4 {
  text-align: center;
  padding-top: 20px;
}
.youshi .youshi-content ul {
  padding-top: 50px;
}
.youshi .youshi-content ul li {
  float: left;
  list-style: none;
  width: 30%;
  margin-left: 2.5%;
}
.youshi .youshi-content ul li span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fa8557;
  display: block;
  margin: 0 auto;
}
.youshi .youshi-content ul li span img {
  padding: 28px 0 0 24px;
}
.youshi .youshi-content ul li h3 {
  text-align: center;
}
.youshi .youshi-content ul li p {
  padding: 50px 40px;
}
.gongneng {
  padding-bottom: 100px;
}
.gongneng .gongneng-content {
  width: 1200px;
  margin: 0 auto;
}
.gongneng .gongneng-content h2 {
  text-align: center;
  padding-top: 100px;
}
.gongneng .gongneng-content h4 {
  text-align: center;
  padding-top: 20px;
}
.gongneng .gongneng-content ul li {
  float: left;
  list-style: none;
  width: 13%;
  margin-left: 1.2%;
  margin-top: 50px;
}
.gongneng .gongneng-content ul li img {
  display: block;
  margin: 0 auto;
  height: 50px;
}
.case {
  background: #e3e3e3;
}
.case .case-content {
  width: 1200px;
  margin: 0 auto;
}
.case .case-content h2 {
  text-align: center;
  padding-top: 100px;
}
.case .case-content h4 {
  text-align: center;
  padding-top: 20px;
}
.case .case-content img {
  width: 100%;
  margin-top: 50px;
}
.lx {
  padding: 50px 0;
}
.lx a {
  padding: 10px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  width: 150px;
  border: 1px solid gray;
  text-align: center;
  border-radius: 5px;
  color: #000;
}
.lx a:hover {
  color: #000;
  text-decoration: none;
}
.foot {
  width: 100%;
  background: #222;
  background: linear-gradient(top, #222 0%, #111 100%);
  background: -moz-linear-gradient(top, #222 0%, #111 100%);
  background: -webkit-linear-gradient(top, #222 0%, #111 100%);
  margin: 0 auto;
  padding: 50px 0;
  font-size: 14px;
  line-height: 24px;
  color: #444;
  letter-spacing: 2px;
}
.foot ul li {
  line-height: 24px;
  font-size: 14px;
  list-style: none;
}
.foot ul li a {
  color: #444;
}
.foot ul li a:hover {
  color: cornflowerblue;
}
.foot .w_1 {
  width: 210px;
  float: left;
}
.foot .w_2 {
  width: 150px;
  float: left;
  margin-left: 40px;
  text-align: center;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.foot .w_3 {
  width: 540px;
  float: right;
  margin-right: 100px;
}
.foot .icp {
  background: #333;
  color: #999;
  padding: 0 5px;
  display: inline-block;
}
.celan {
  z-index: 9999999;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  width: 103px;
}
.celan .ruturn_top {
  height: 101px;
}
.celan .ruturn_top a {
  color: white;
  text-decoration: none;
}
.celan .ruturn_top a i {
  font-size: 30px;
  color: gainsboro;
  margin-top: 15px;
}
.celan .ruturn_top a span {
  display: block;
}
.celan .cs_btn {
  cursor: pointer;
  height: 101px;
}
.celan .cs_btn i {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
}
.celan .cs_btn i img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-left: -3px;
}
.celan .cs_btn p {
  color: white;
  text-align: center;
}
.celan .cs_btn1 {
  cursor: pointer;
  height: 101px;
}
.celan .cs_btn1 i {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
}
.celan .cs_btn1 p {
  color: white;
  text-align: center;
}
.celan #cs_box {
  right: 0;
  top: 500px;
  border-radius: 10px;
  z-index: 1000;
}
.celan #cs_box1 {
  height: 33%;
}
